<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shelves</title>
</head>
<body>
<h1>Here are your shelves</h1>
{% if all_shelves %}
    <ul>
        {% for shelf in all_shelves %}
        <li><a href="/game/{{ shelf.shelfNum }}">Shelf {{ shelf.shelfNum }} </a></li>
        {% endfor %}
    </ul>
{% else %}
<h3> no shelves to show</h3>
{% endif %}

<script>
	List();
	function List(){
		var request = new XMLHttpRequest();
		request.open("GET", "http://127.0.0.1:8000/items/", false);
		request.setRequestHeader('Access-Control-Allow-Origin','*');
		request.setRequestHeader('Access-Control-Allow-Methods','GET');
        request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		request.send();

		var array = JSON.parse(request.responseText);
		var temp="<table ><tr><th>item Name</th><th>item Pic</th></tr>";
		for(var i=0;i<array.length;i++){
			var shelfNum = array[i].itemName;
			var shelfPosition = array[i].itemPic;
			temp+="<tr><td>"+shelfNum+"</td><td><img src=" + shelfPosition + " height="+100+" width="+100+"/></td></tr>";
		}

		console.log(array);
		temp+="</table>";
		document.write(temp);
	}


</script>
</body>

</html>